<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- 参数设置 -->
  <arg name="use_lidar_data" default="true"/>
  <arg name="mat_file_path" default="$(find powerline_extractor)/datas/L037_Sens1_600x250_cloud_8.mat"/>
  <arg name="target_frame" default="map"/>
  <arg name="publish_rate" default="1.0"/>

  <!-- 点云裁减和累积参数 -->
  <arg name="clip_radius" default="8.0"/>
  <arg name="max_accumulated_frames" default="1000"/>

  <!-- 点云处理参数 -->
  <arg name="voxel_size" default="0.2"/>
  <arg name="pca_radius" default="0.9"/>
  <arg name="angle_threshold" default="10.0"/>
  <arg name="linearity_threshold" default="0.95"/>
  <!-- 聚类参数 -->
  <arg name="cluster_tolerance" default="2.0"/>
  <arg name="min_cluster_size" default="15"/>
  <arg name="max_cluster_size" default="100000"/>

  <!-- 新增地面过滤参数 -->
  <arg name="ground_filter_method" default="ransac"/>  <!-- 可选值: simple, ransac, adaptive, parallel, optimized -->
  <arg name="ground_height_threshold" default="1.5"/>     <!-- 地面高度阈值 -->
  <arg name="use_cached_ground_info" default="true"/>     <!-- 是否使用缓存的地面信息 -->


  <!-- 密度过滤参数 -->
  <arg name="density_radius" default="0.5"/>
  <arg name="min_density_neighbors" default="15"/>

  <!-- 启动坐标转换 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="rslidar_to_map" args="0 0 0 0 0 0 map rslidar" />

  
  <!-- 启动电力线提取节点 -->
  <node name="powerline_extractor" pkg="powerline_extractor" type="powerline_extractor_node" output="screen">
    <param name="use_lidar_data" value="$(arg use_lidar_data)"/>
    <param name="data_folder" value="$(arg mat_file_path)"/>
    <param name="target_frame" value="$(arg target_frame)"/>
    <param name="publish_rate" value="$(arg publish_rate)"/>

    <!-- 点云裁减和累积参数 -->
    <param name="clip_radius" value="$(arg clip_radius)"/>
    <param name="max_accumulated_frames" value="$(arg max_accumulated_frames)"/>


    <param name="voxel_size" value="$(arg voxel_size)"/>
    <param name="pca_radius" value="$(arg pca_radius)"/>
    <param name="angle_threshold" value="$(arg angle_threshold)"/>
    <param name="linearity_threshold" value="$(arg linearity_threshold)"/>

    <param name="cluster_tolerance" value="$(arg cluster_tolerance)"/>
    <param name="min_cluster_size" value="$(arg min_cluster_size)"/>
    <param name="max_cluster_size" value="$(arg max_cluster_size)"/>

    <!-- 新增地面过滤参数 -->
    <param name="ground_filter_method" value="$(arg ground_filter_method)"/>
    <param name="ground_height_threshold" value="$(arg ground_height_threshold)"/>
    <param name="use_cached_ground_info" value="$(arg use_cached_ground_info)"/>


    <!-- 新增密度过滤参数 -->
    <param name="density_radius" value="$(arg density_radius)"/>
    <param name="min_density_neighbors" value="$(arg min_density_neighbors)"/>
  </node>
  
  <!-- 可视化 -->
  <node name="rviz" pkg="rviz" type="rviz" />
</launch>